<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="biz.onomato.frskydash" 
      android:versionCode="17"
      android:versionName="2.0B04"
      android:installLocation="preferExternal">
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>  
    
    <uses-sdk android:minSdkVersion="8" />
    
    <application android:icon="@drawable/ic_status" android:label="@string/app_name" android:debuggable="true">
         <!-- 
         <activity android:name=".FrSkyDash"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="keyboardHidden|orientation" 
                  android:screenOrientation="portrait" >
        
        </activity>
         -->
        <activity android:name=".activities.ActivityDashboard"
        	android:label="@string/app_name"  
        	android:configChanges="keyboardHidden|orientation" 
            android:screenOrientation="portrait">
        	 
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActivityModuleSettings"
           	android:label="@string/activity_module_settings" />
        <activity android:name=".activities.ActivityApplicationSettings"
        	android:label="@string/activity_application_settings" />
		<!--   <activity android:name=".ChannelConfigActivity" android:label="@string/activity_channel_settings" /> -->
        <activity android:name=".activities.ActivitySimulator"
        	android:label="@string/activity_simulator" />
        <activity android:name=".activities.ActivityScanDevices"
            android:theme="@android:style/Theme.NoTitleBar"
        	android:label="@string/app_name" />
        <activity android:name=".activities.ActivityChannelConfig"
        	android:label="@string/activity_channel_settings" />	
        <activity android:name=".activities.ActivityDeviceList"
            android:theme="@android:style/Theme.NoTitleBar"
        	android:label="@string/app_name" />
        <activity android:name=".activities.ActivityModelConfig"
        	android:label="@string/activity_model_configuration"
        	android:windowSoftInputMode="stateHidden" 
        	/>
        <activity android:name=".activities.ActivityModelManagement"
        	android:label="@string/activity_model_management" />
        <activity android:name=".activities.ActivityDebug"
        	android:label="@string/activity_debug" />
        	
        <activity android:name=".activities.ActivityHubData" android:label="@string/app_name"/>
        <activity android:name=".hub.EditPreferences" android:label="@string/app_name"/>
        
        <service android:name="FrSkyServer" android:label="@string/app_name"></service>
    </application> 

</manifest>