<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="biz.onomato.frskydash" 
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="MyApp" android:debuggable="true">
        <activity android:name=".Frskydash"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="keyboardHidden|orientation" 
                  android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity"
        	android:label="@string/app_name"
        	 />
        <activity android:name=".ModuleSettingsActivity"
        	android:label="@string/app_name" />
		<activity android:name=".ChannelConfigActivity"
        	android:label="@string/app_name" />
        <activity android:name=".SimulatorActivity"
        	android:label="@string/app_name" />
        <activity android:name=".ActivityScanDevices"
        	android:label="@string/app_name" />
        	
        <activity android:name=".DeviceListActivity"
        	android:label="@string/app_name" />
        	
        <service android:name="FrSkyServer" android:label="@string/app_name"></service>
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
</manifest>